@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '~@okta/okta-signin-widget/dist/css/okta-theme.css';
@import '~bootstrap/dist/css/bootstrap.css';

.site-main {
	padding-top: 30px;
	max-width: 94em;
}
.exams-list {
	padding: 3rem 1.5rem;
}
#button-link {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}