body {
	font-family: 0.75em/1.3 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	background: #F8F9FA;
}
#exam-name {
	margin-top: 100px;
	margin-bottom: 20px;
	text-align: center;
	font-weigth: 500;
	font-size: large;
}
.description {
	padding: 5px;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
.login-container {
	padding: 20px;
	border: 1px solid #C2C7D0;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.input-group {
	float: left;
	width: 300px;
	padding: 0 0 0.75em 0;
	margin-top: 5px;
}
.input-group-addon {
	float: left;
	width: 110px;
}
.login-input {
	float: right;
	width: 180px;
}
.btn, .btn:focus {
	background: #BFBFBF;
	border-radius: 3px;
	color: white;
	padding: 8px 12px;
	text-decoration: none;
	border: none;
	cursor: pointer;
}
.btn:hover {
	background: #005E32;
}
.switch-question, .question-board {
	position: absolute;
}
.authbar {
	float: right;
}
.switch-question {
	width: 210px;
	top: 80px;
}
#go {
	margin-top: 5px;
	cursor:pointer;
}
.question-board {
	width: 550px;
	top: 80px;
	left: 380px;
}
#next {
	cursor: pointer;
}
#finish {
	float: right;
	cursor: pointer;
}
.text-center {
	text-align: center;
}