/*@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);*/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
#full-page {
	min-height: 100%;
	max-width: 84em;
	margin: auto;
}
#main-content {
	overflow: auto;
	padding-bottom: 100%;
}
header, article, aside, footer {
	border: 1px solid #111;
	padding: 10px 1em;
	margin: 0 5% 10px;
}
header {
	margin-top: 10px;
}
footer {
	position: relative;
	height: 100px;
	margin-top: -100px;
	clear: both;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
}
h1, h2, h3 {
	font-weight: bold;
	margin: 5px 0;
}
p {
	font-size: 1em;
	margin: 5px 0;
}
ul {
	padding-left: 10px;
	margin: 10px 0;
	list-style-type: none;
}
nav li {
	/*border: 1px solid #666;*/
	/*background-color: #eee;*/
	color: #eee;
	padding: 10px 1em;
	margin: 3px 0 0;
	text-align: center;
	font-size: 1.2em;
}
nav li a {
	text-decoration: none;
	color: #000;
	/*font-size: 1.2em;*/
}
li {
	margin-left: 10px;
	padding-left: 10px;
}
@media only screen and (min-width: 36em) {
  article {
  	float: left;
	width: 67%;
	margin-right: 0;
  }
  aside {
	float: right;
	width: 21%;
	margin-left: 0;
  }
 /* footer {
	clear: both;
  }*/
  nav li {
  	display: block;
  	float: left;
  	width: 20%;
  }
  nav {
  	padding-bottom: 3em;
  }
}
#login-container {
	padding: 20px;
	border: 1px solid #C2C7D0;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
 }
 #exam-name {
	margin-top: 100px;
	margin-bottom: 20px;
	text-align: center;
}
#description {
	padding: 5px;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
.input-group {
	float: left;
	width: 270px;
	padding: 0 0 0.75em 0;
	margin-top: 5px;
}
.input-group-addon {
	float: left;
	width: 95px;
}
.login-input {
	float: right;
	width: 165px;
}
.btn, .btn:focus, #done, #next, #finish, #go {
	font-family: san-serif;
	font-size: 15px;
	background: #279;
	border-radius: 3px;
	color: white;
	padding: 8px 12px;
	border: 0px;
	cursor: pointer;
}
.text-center {
	text-align: center;
}
.switch-question, #message, #done {
	position: absolute;
}
.authbar {
	float: right;
}
.switch-question {
	width: 210px;
	top: 80px;
}
#go {
	margin-top: 5px;
	cursor:pointer;
}
#next {
	position: absolute;
	top: 330px;
	left: 420px;
	cursor: pointer;
	display: inline-block;
}
#finish {
	position: absolute;
	top: 330px;
	right: 480px;
	cursor: pointer;
}
#message {
	top: 120px;
	left: 500px;
}
#done {
	top: 160px;
	left: 600px;
}
.exam-container {
	position: absolute;
	top: 120px;
	left: 430px;
	width: 880px;
}

/*
.slide {
	position: absolute;
	top: 150px;
	left: 450px;
	width: 100%;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
}
.active-slide {
	opacity: 1;
	z-index: 2;
}
body {
	font-family: "Work Sans", sans-serif;
	background: #FFFFFF;
}
*/