<div class="text-sm-center">
	<p>{{welcomeMsg}}</p>
	<div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}</div>
</div>
<div class="mx-auto" style="width: 400px" *ngFor="let question of filteredQuestion">
    <div>Remaining time: <span>{{countDown | async | formatTime}}</span></div>
	<h6>{{pager.index + 1}}. <span>{{question.name}}</span></h6>
	<pre><code class="border border-secondary rounded" style="height: 350px" highlight [code]=question.code></code></pre>
	<div class="form-check" *ngFor="let option of questionOptions; let i = index">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="optradio" [(ngModel)]="optionIndex"
					[value]="i" (ngModelChange)="optionClicked();">
			{{option.name}}
		</label>
	</div>
</div>
<hr>
<div class="text-sm-center">
	<div class="d-inline-block">
		<button class="btn btn-primary mr-sm-5" (click)="nextQuestion(pager.index + 1);">Next question</button>
	</div>
	<div class="d-inline-block">
		<form [formGroup]="resultForm" (ngSubmit)="confirmSubmit = false; cancelSubmit = false">	
			<input type="hidden" name="id" formControlName="id">
			<input type="hidden" name="examId" formControlName="examId">
			<input type="hidden" name="answers" formControlName="answers">
			<button class="btn btn-default" type="submit"
				mwlConfirmationPopover
                popoverTitle="Submit"
                popoverMessage="Are you sure you want submit?"
                confirmText="Yes <i class='glyphicon glyphicon-ok'></i>"	
                cancelText="No <i class='glyphicon glyphicon-remove'></i>"
                placement="top"
                (confirm)="confirmSubmit = true; submit()"
                (cancel)="cancelSubmit = true"
                confirmButtonType="danger"
                cancelButtonType="default"
                [appendToBody]="true">Submit</button>
		</form>
	</div>
</div>