<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Exam Description</title>
	<link rel="stylesheet" href="/static/css/app.css" />
	<!-- [if lt IE 9]>
		<script src="/online-test-exam-maker/static/js/lib/html5shive.js"></script>
		<script src="/online-test-exam-maker/static/js/lib/html5shive-printshiv.js"></script>
	<![endif] -->
</head>
<body>
	<div class="main-wrapper">
		<h3 id="exam-name">th:text="${examName}"</h3>
		<div class="description">
			<p>th:text="${examDescription}"</p>
		</div>
		
		<div class="login-container" style="width:300px;">
			<form th:action="@{/login}" th:method="post">
				th:if text="${param.error}
					<div class="text-center" id="alert alert-error">
						Failed to login.
						th:if test="${SPRING_SECURITY_LAST_EXCEPTION}
							Reason: th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}
					</div>
				th:if test="${param.logout}"
					<div class="text-center" id="alert alert-success">
						You have successfully logged out.
					</div>
				<div class="input-group">
					<label class="input-group-addon" for="username">Username</label>
					<input autofocus class="login-input" type="text" id="username" name="userName" placeholder="Your username" required>
				</div>
				<div class="input-group">
					<label class="input-group-addon" for="password">Password</label>
					<input class="login-input" type="password" id="password" name="password" placeholder="Your password" required>
				</div>
				<div class="input-group">
		        	<label><input type="checkbox" id="rememberme" name="remember-me"> Remember Me</label>  
		        </div>
		        <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
				<div class="text-center">
					<input id="submit" class="btn" name="submit" type="submit" value="Log in"/>
				</div>
			</form>
		</div>	
	</div>
</body>
</html>