<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>End Exam</title>
	
	<link rel="stylesheet" href="/static/css/app.css'/>" />
	<!-- [if lt IE 9]>
		<script src="/online-test-exam-maker/static/js/lib/html5shive.js"></script>
		<script src="/online-test-exam-maker/static/js/lib/html5shive-printshiv.js"></script>
	<![endif] -->
	
	<script src="/online-test-exam-maker/static/js/lib/jquery-3.2.1.js" type="text/javascript"></script>
	<script src="/online-test-exam-maker/static/js/app.js" type="text/javascript"></script>
</head>
<body>
	<div class="wrapper">
	    <div class="authbar">
    		<span>Welcome <strong>th:text="${loggedinuser}"</strong></span> <span class="floatRight"><a href="/logout" />"> Logout</a></span>
		</div>	
		<div id="message"></div>
		<div>
			<form name="submitexam" action="/endexam" th:object="${results}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
				
				<input type="hidden" id="id" path="id" />
				<input type="hidden" id="examid" path="examId" />
				<input type="hidden" id="userchoices" path="answers" />
				
				<div class="done"><input type="submit" id="done" value="Submit" /></div>
			</form>
		</div>
	</div>
</body>
</html>