<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Iplusplus | Know The Basics</title>
	<link rel="stylesheet" href="static/css/reset.css" />
	<link rel="stylesheet" href="static/css/app.css" />
	<!-- [if lt IE 9]>
		<script src="/online-test-exam-maker/static/js/lib/html5shive.js"></script>
		<script src="/online-test-exam-maker/static/js/lib/html5shive-printshiv.js"></script>
	<![endif] -->
</head>
<body>
	<div id="full-page">
		<div id="main-content">
			<header role="banner">
				<h1>Iplusplus</h1>
				<nav role="navigation">
					<ul>
						<li><a href="/online-test-exam-maker/description"><span>Test Exams</span></a></li>
						<li><a href="/productivity/"><span>Productivity</span></a></li>
						<li><a href="/resources/"><span>Resources</span></a></li>
						<li><a href="/blog/"><span>Blog</span></a></li>
						<li><a href="/login/"><span>Login</span></a></li>
					</ul>
				</nav>
			</header>
			
			<section>
			</section>
			
			<article>
				<h2>Get Prepared with Iplusplus Test Exams</h2>
				<p>Iplusplus practice exams is based on basic knowledge to help you prepare for your technical interview.</p>
			</article>
			
			<aside>
				<h2>Social Media</h2>
			</aside>
		</div>
	</div>	
	<footer role="contentinfo">
		<p id="copy-right">&copy; 2018 Iplusplus - IT Job test exam training</p>
	</footer>
</body>
</html>