<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Exam Questions</title>
		<link rel="stylesheet" href="static/css/reset.css" />
		<link rel="stylesheet" href="static/css/app.css" />
		<!-- [if lt IE 9]>
			<script src="/online-test-exam-maker/static/js/lib/html5shive.js"></script>
			<script src="/online-test-exam-maker/static/js/lib/html5shive-printshiv.js"></script>
		<![endif] -->
		
		<script src="/online-test-exam-maker/static/js/lib/jquery-3.2.1.js" type="text/javascript"></script>
		<script src="/online-test-exam-maker/static/js/app.js" type="text/javascript"></script>	
</head>
<body>
	<div class=wrapper>
		<div class="authbar">
    		<span> Welcome <strong th:text="${loggedinuser}"></strong></span> <span class="floatRight"><a href="/logout">log out</a></span>
			<input type="hidden" id="examid" th:value="${examid}"/>
			<input type="hidden" id="examtime" th:value="${examtime}"/>
		</div>
		
		<div id="timer">Remaining time: <span id="time"></span></div>
		
		<div class="switch-question">
			<form action="question" method="post">
				<div class="combobox">
					<label for="switchQuestion">Switch Question:</label>
					<select id="switchQuestion"></select>
				</div>
				<div id="go-btn">
					<input id="go" type="button" value="Go" />
				</div>
			</form>
		</div>
		
		<div class="exam-container">
			<div><h4 id="exam-question"></h4></div>
			<div id="choices"></div>
		</div>
		
		<div><input id="next" type="button" value="Next question" /></div>
		<form action="finish">
			<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
			<input id="finish" type="submit" value="Finish exam" />
		</form>
	</div>
</body>
</html>