@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '~@okta/okta-signin-widget/dist/css/okta-theme.css';
@import '~bootstrap/dist/css/bootstrap.css';

.site-main {
	padding-top: 30px;
	max-width: 104em;
}
.table, .intro {
	width: 50%;
	margin: 0 auto !important;
}
/*#okta-sign-in.auth-container.main-container {
    border: 0;
}*/