@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '~highlight.js/styles/github.css';

.site-main {
	padding-top: 30px;
	max-width: 104em;
}
.table, .intro {
	width: 50%;
	margin: 0 auto !important;
}