html,body {
	height:100%;
	width: 100%;
	margin: 0;
}
body {
	display: flex;
	font: 0.75em/1.3 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	background: #F8F8F8;
	text-align: center;
}
.login-container {
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	margin: auto;
}
.input-group {
	float: left;
	width: 300px;
	padding: 0 0 0.75em 0;
}
.input-group-addon {
	float: left;
	width: 110px;
}
.login-input {
	float: right;
	width: 180px;
}
.switch-question {
	width: 197px;
}
.combobox-action {
	float: right;
}